/* 所有標籤共同設定*/

* {
    box-sizing: border-box ; font-family:Times New Roman;
}


/* 基本的標籤都設為 0 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
header,
nav,
footer,
aside,
section,
article {
    margin: 0 auto;
    padding: 0;
}


/*定基礎的容器*/







