* {
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

table tr {
    border: 1px solid black;
    line-height: 30px;
}

th {
    border: 1px solid black;
    background-color: darkcyan;
    color: white;
    line-height: 30px;
}

a>i {
    color: darkcyan;
}


/* 主頁面區塊 Begin */

.main-title-1 {
    background-color: #32a8a8;
    text-align:center;
    color: white;
    height: 40px;
    line-height: 37px;
    letter-spacing: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
}


/* 主頁面區塊 End */


/* 共用設定 Begin*/

.in-line {
    display: inline-block;
}

.width-10 {
    width: 10%;
}

.sty-sw {
    position: relative;
    top: 10px;
    left: 90px;
}

.mar-left {
    margin-left: 30px;
}

.mar-top-5 {
    margin-top: 5px;
}

.mar-b-30 {
    margin-bottom: 30px;
}


/* 共用設定 End */

.back-color {
    background: #ebebeb;
}

.table-sty-1 {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}


/*
#tableAllUser:nth-child(even) {
    background-color: ;
}
*/

.icon-add-user {
    position: fixed;
    top: 460px;
    right: 0px;
}


/* 成員詳細資料區塊*/

.userInfo {
    display: none;
    position: fixed;
    top: 80px;
    left: 30px;
    border: 2px solid black;
    width: 80%;
    height: 300px;
    background-color: rgb(209, 199, 252);
}

.userInfo>div {
    margin: 10px;
}

#mainPageText a {
    font-size: 20px;
    color: darkcyan;
    line-height: 10px;
}

.mar-top-30 {
    margin-top: 30px;
}

.mar-top-50 {
    margin-top: 150px;
}

.mar-bottom-50 {
    margin-bottom: 50px;
}
